.a_paypal{
    color: #7ACC2D;
}


body{
    background-color: var(--black-color);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
